<div class="row">
    <aside class="col-sm-3 col-md-3">
      <div class="container">
        <section class="search_box">
            <%= form_for @search do |f| %>
              <div class="form-group">
                <%= f.label :keywords  %>
                <%= f.text_field :keywords, class:"form-control input-sm" %>
              </div>
              <div class="form-group">
                <%= f.label :level_id, "Fight type:" %><br />
                <%= f.collection_select :level_id, Level.all, :id, :name, include_blank: true %>
             </div>
              <div class="form-group">
                <%= f.label :fight_id, "Boss name:" %><br>
                <%= f.grouped_collection_select :fight_id, Level.all, :fights, :name, :id, :boss, include_blank: true %>
              </div>
              <div class="form-group">
                <%= f.label :captain_class, "Captain ability class:" %><br>
                <% grouped_options = [['Type'], ['STR', 'DEX', 'QCK', 'PSY','INT']], [['Class 1'], ['Fighter', 'Slasher', 'Stricker', 'Shooter']], [['Class 2'], ['Free Spirit', 'Driven', 'Cereral', 'Powerhouse']], [['Other'], ['Chain Multiplier','Chain Pattern','Zombie','Other']] %>
                <%= f.select :captain_class, grouped_options_for_select(grouped_options, f.object.captain_class), include_blank: true %>
              </div>
              <div class="form-group">
                <%= f.label :server %><br>
                <%= f.select :server, [['Global'], ['Japan']], include_blank: true %>
              </div>
              <p><%= f.submit "Search" , class: "btn btn-primary"  %></p>
            <% end %>
        </section>
        </div>
    </aside>
    <div class="col-sm-9 col-md-9">

        <div class="runs">
            <% if @search %>
            	<% if @search.runs.count == 0 %>
            		<div class="well">
            		  <h3>Sorry, no results for this search :(</h3>
            		  <%= link_to "Add a new team?", new_run_path, remote: true %>
            		</div>
            	<% else %>
            	<div class="btn-group dropdown dd-style">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Order by
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Most recent</a></li>
                    <li><a href="#">Top Runs</a></li>
                    <li><%= link_to "Oldest", order: 'created_at ASC'%></li>
                  </ul>
                </div>
            		<%= render @runs %>
            		<div class="infinite-scrolling">
            		  <%= will_paginate @runs %> 
            		</div>
            	<% end %>
            <% end %> 
        </div>
    </div>
</div>