<div id="run-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add a new team</h4>
      </div>
      <%= form_for @run, remote: true do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :title, "Title:" %><br>
            <%= f.text_field :title, class: "form-control input-lg", placeholder: "eg. '2x Captain, crew1, crew2, crew3, crew4'" %>
            Title should be: '2x Captain, crew1, crew2, crew3, crew4' or 'Captain1 + Captain2, crew1, crew2, crew3, crew4'
          </div>
          <div class="form-group">
            <%= f.label :youtube_url, "Youtube link:" %><br>
            <%= f.text_field :youtube_url, class: "form-control input-lg", placeholder: "eg. https://www.youtube.com/watch?v=tJlGaPgQXFo" %>
          </div>
          <div class="form-group">
            <%= f.label :captain_class, "Captain ability class:" %><br>
            <% grouped_options = [['Type'], ['STR', 'DEX', 'QCK', 'PSY','INT']], [['Class 1'], ['Fighter', 'Slasher', 'Stricker', 'Shooter']], [['Class 2'], ['Free Spirit', 'Driven', 'Cereral', 'Powerhouse']], [['Other'], ['Other']] %>
            <%= f.select :captain_class, grouped_options_for_select(grouped_options), include_blank: true %>
          </div>
          <div class="form-group">
            <%= f.label :level_id, "Fight type:" %><br />
            <%= f.collection_select :level_id, Level.all, :id, :name, include_blank: true %>
          </div>
          <div class="form-group">
            <%= f.label :fight_id, "Boss name:" %><br>
            <%= f.grouped_collection_select :fight_id, Level.all, :fights, :name, :id, :boss, include_blank: true %>
          </div>
          <div class="form-group">
            <%= f.label :server %><br>
            <%= f.select :server, [['Global'], ['Japan']] %>
          </div>
          <div class="form-group">
            <%= f.label :description %><br>
            <%= f.text_area :description, class: "form-control input-lg" %>
          </div>
          
        </div>

        <div class="modal-footer">
          <%= f.submit class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
