<li id="run-<%=run.id %>">
    <div class="container">
        <div class="thumbnail col-xs-12 col-sm-3 col-md-3">
            <a href="#">
                <img src="https://img.youtube.com/vi/<%= run.youtube_id %>/0.jpg" class="img-responsive img-box img-thumbnail"> 
            </a>
            <div class="social-vote">
                <%= link_to like_run_path(run), method: :put do %>
                  <span class="social-like"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                <% end %>
                <%= run.get_upvotes.size %>
                <%= link_to dislike_run_path(run), method: :put do %>
                  <span class="social-dislike"><i class="glyphicon glyphicon-thumbs-down"></i></span>
                <% end %>
                <%= run.get_downvotes.size %>
            </div>
        </div> 
        <div class="content col-xs-12 col-sm-9 col-md-9">
            <div class="list-group">
            <div class="list-group-item">
                <div class="row-content">
                    <h4><%= link_to run.title, run %></h4>
                    <p><%= run.description %></p>
                <small>
                    <i class="glyphicon glyphicon-time"></i> <%= time_ago_in_words(run.created_at) %> ago by <span><%= link_to run.user.name, run.user %></a></span>
                    <br>
                    <span class="explore"><i class="glyphicon glyphicon-info-sign"></i><%= link_to " #{run.fight.level.name} #{run.fight.boss} - #{run.fight.stamina} stamina", root_url %></span>
                    <br>
                    <span class="explore"><i class="glyphicon glyphicon-tags"></i>   <%= link_to run.captain_class, root_url %></span>
                    <span class="explore"><i class="glyphicon glyphicon-globe"></i>  <%= link_to run.server, root_url %></span>
                    <% if current_user?(run.user) %>
                        <span class="explore"><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, run, method: :delete, data: { confirm: "Delete run?"} %></span>
                    <% end %>    
                 </small>
                </div>
            </div>
            </div>
        </div> 
    </div>
</li>   
 