<p id="notice"><%= notice %></p>

<h1>Listing Runs</h1>

<table>
  <thead>
    <tr>
      <th>Fight</th>
      <th>User</th>
      <th>Title</th>
      <th>Run desc</th>
      <th>Duration</th>
      <th>Captain type</th>
      <th>Youtube url</th>
      <th>Db team url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @runs.each do |run| %>
      <tr>
        <td><%= run.fight_id %></td>
        <td><%= run.user_id %></td>
        <td><%= run.title %></td>
        <td><%= run.run_desc %></td>
        <td><%= run.duration %></td>
        <td><%= run.captain_type %></td>
        <td><%= run.youtube_url %></td>
        <td><%= run.db_team_url %></td>
        <td><%= link_to 'Show', run %></td>
        <td><%= link_to 'Edit', edit_run_path(run) %></td>
        <td><%= link_to 'Destroy', run, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Run', new_run_path %>
