<div class="row">
    <aside class="col-sm-12 col-md-3 panel panel-default">
        <section class="stages">
            <% if @run.stages.any? %>
                <% if @run.user == current_user %>
                    <div class ="edit_menu">
                         <span class="explore"><i class="glyphicon glyphicon-pencil"></i> <%= link_to "Edit", edit_stage_path(:id => @run.id), remote: true %></span>
                    </div>
                <% end %>
              <ol class="stages">
                <%= render @stages %>
              </ol>
            <% else %>
                <% if @run.user == current_user %>
                    <div class ="well well-lg">
                        <h4>No stages description</h4>
                         <%= link_to "Add one!", new_stage_path(:id => @run.id), remote: true %>
                    </div>
                <% else %>
                    <div class ="well">
                        <h4>No stages description added yet</h4>
                    </div>
                <% end %>
            <% end %>
        </section>
    </aside>
    <div class="col-sm-12 col-md-9">
        <div class="panel panel-default">
          <div class="panel-body">
              <div class="videowrapper">
                    <iframe width="420" height="315" src="<%= @run.youtube_embed %>"></iframe>
              </div>
          </div>
          <div class="panel-footer">
              <div class="social-vote">
                    <%= link_to like_run_path(@run), method: :put do %>
                      <span class="social-like"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                    <% end %>
                    <%= @run.get_upvotes.size %>
                    <%= link_to dislike_run_path(@run), method: :put do %>
                      <span class="social-dislike"><i class="glyphicon glyphicon-thumbs-down"></i></span>
                    <% end %>
                    <%= @run.get_downvotes.size %>
              </div>
              <div class="run_info">
                  <h3><%= @run.title %></h3>
                  <p><%= @run.description %> </p>
                  <span class="label label-pill label-primary"><i class="glyphicon glyphicon-info-sign"></i><%=  "#{@run.fight.level.name} #{@run.fight.boss} - #{@run.fight.stamina} stamina" %></span>
                    
                    <span class="label label-pill label-primary"><i class="glyphicon glyphicon-tags"></i>   <%=  @run.captain_class %></span>
                    
                    <span class="label label-pill label-primary"><i class="glyphicon glyphicon-globe"></i>  <%= @run.server %></span>
              </div>
          </div>
        </div>
                
    </div>
</div>

